body {
    align-items: center;
    text-align-last: center;
}
#container {
    background: white;
    margin: 0%;
    width: 35%;
    border-radius: 10px;
    margin-left: 425px;
    padding: 50px 0px;
}