body {
    background-color:  #DAF7A6 ;
    color: black;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 100;
}

#infos {
    background-color: aliceblue;
    border-radius: 10px;
    border-collapse: inherit;
    width: fit-content;
    border: black;
    padding: 5px 30px;
    margin-left: 300px;
}